.App {
}

canvas {
  touch-action: none;
}
.menu {
  transform: translateX(-50%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.7);  
}
.menu > .icon {
 &:hover, &.active {
 background-color: #d1d1d1;
  }
  &:active {
    opacity: 0.5;
  }
}

.toolbox {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.7);  
}
.toolbox input[type=color]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}


.toolbox input[type=text]:invalid {
  border:1px solid orangered;
}
/* .toolbox input[type=text]:focus-within:valid {
  border:1px solid greenyellow;
} */

.toolbox input:focus {
  outline: none;
}

.toolbox .color-box {
  &:hover, &.active {
     box-shadow: 0 0 0px 4px #d1d1d1;
  } 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
